<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netherend</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>Netherend Notícias</h1>
        <nav>
            <a href="../Netherend.index.html">Início</a>
            <a href="politica.html">Política</a>
            <a href="esportes.html">Esportes</a>
            <a href="avistamentos.html" class="atual">Avistamentos</a>
        </nav>
    </header>
    <main>
        <h2>Avistamentos Estranhos</h2>
        <section>
            <article>
                <figure>
                    <img src="../imagens/OVNI.webp" alt="OVNI na atmosfera">
                    <figcaption>Ovni avistado no céu do Mato-Grosso</figcaption>
                    <p>Um Ovni avistado no céu do Mato-Grosso. O adolescente de 18 anos chamados Lucas, avistou a nave passando pelo céu perto da sua residência</p>
                </figure>
            </article>
            <article>
                <figure>
                    <img src="../imagens/pe_grande.webp" alt="Pé Grande avistado">
                    <figcaption>Pé Grande avistado na floresta em Boa vista</figcaption>
                    <p>Um Pé Grande foi avistado na floresta de Boa Vista em Roraíma. Um casal que estava na região avistou a besta, que apareceu e depois correu para dentro da mata.</p>
                </figure>
            </article>
            <article>
                <figure>
                    <img src="../imagens/palhaco.jpg" alt="Palhaço assassino avistado">
                    <figcaption>Um Palhaço Assassino foi avistado em João Pessoa!</figcaption>
                    <p>Um Palhaço assassino foi visto em João Pessoa, na Paraíba. O palhaço foi avistado perseguindo uma garota de 20 anos chamada Ana na br-230, a garota conseguiu fugir e despitar o palhaço. Depois disso, o palhaço sumiu do mapa.</p>
                </figure>
            </article>
        </section>
    </main>
    <footer>
        <p>Netherend Notícias</p>
        <p>fonte: Netherend</p>
    </footer>
</body>
</html>