<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esportes</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>Netherend Notícias</h1>
        <nav>
            <a href="../Netherend.index.html">Início</a>
            <a href="politica.html">Política</a>
            <a href="esportes.html" class="atual">Esportes</a>
            <a href="avistamentos.html">Avistamentos</a>
        </nav>
    </header>
    <main>
        <h2>Copa do Mundo 2026</h2>
        <section>
            <article>
                <figure>
                    <img src="../imagens/australia.webp" alt="australia x turquia">
                    <figcaption>Austrália 2x0 Turquia</figcaption>
                    <p>Austrália vence a Turquia pela 1° rodada da Copa do Mundo 2026. Os Australianos se defenderam perfeitamente diante da grande geração turca, com grandes atuações do goleiro Beach e do lateral Bos, e com brilho do atacante Irankunda!</p>
                </figure>
            </article>
            <article>
                <figure>
                    <img src="../imagens/Alemanha.jpg" alt="Alemanha x Paraguai">
                    <figcaption>Alemanha 1(3)x(4)1 Paraguai</figcaption>
                    <p>A tetracampeâ Alemanha é eliminada na fase 16 avos de final pelo paraguai nos pênaltis. Em uma grande atuação defensiva dos paraguaios, o jogo que terminou 1x1 no tempo normal, foi decidido pelo goleiro Orlando Gill, que pegou 2 pênaltis e garantiu a classificação paraguaia.</p>
                </figure>
            </article>
            <article>
                <figure>
                    <img src="../imagens/Brasil.jpg" alt="Brasil x Japão">
                    <figcaption>Brasil 2x1 Japão</figcaption>
                    <p>A única pentacampeã do mundo eliminou o japão em um jogo de muitas emoções. Com uma virada histórica e com gols de Casemiro e Martinelli, o Brasil se classifica para as oitavas de final da Copa do Mundo 2026 e aguarda o vencedor de Noruega x Costa do Marfim.</p>
                </figure>
            </article>
        </section>
    </main>
    <footer>
        <p>Netherend Notícias</p>
        <p>fonte: Netherend</p>
    </footer>
</body>
</html>